<h1 class="text-center">Welcome to the Debugging Scavenger Hunt!</h1>
<br />

<body>
    <h4 class="text-center">There are 5 errors in the application.</h4>
    <br />
</body>
    <div class="text-center">
        <a asp-action="Products" class="btn btn-primary">Product Page</a>
        <a asp-action="CreateNewPosting" class="btn btn-danger">Input Job Posting</a>
    </div>
